<button (click)="myFunction()">Try it</button>

<div class="chartCard">
<div class="chartBox">
  <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>
</div>

<script>
  window.onload = function() {
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    context.fillStyle = "green";
    context.fillRect(50, 50, 100, 100);
    // no argument defaults to image/png; image/jpeg, etc also work on some
    // implementations -- image/png is the only one that must be supported per spec.
    window.location = canvas.toDataURL("image/png");
  }
</script>


<!--<button printTitle="Print Title" printSectionId="print-section" ngxPrint>-->
<!--  Print-->
<!--</button>-->
<!--<html>-->
<!--<head>-->
<!--  <script type="text/javascript">-->
<!--    var myVar="hello";-->
<!--    function exampleFunction() { alert('You triggered an alert!'); }-->
<!--  </script>-->
<!--</head>-->
<!--<body>-->
<!--<p><a href="#" onClick="exampleFunction;">Click Me</a></p>-->
<!--</body>-->
<!--</html>-->

<!--<html>-->
<!--<head>-->
<!--  <script type = "text/javascript" src="function.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<p><a href="#" onClick="exampleFunction;">Click Me</a></p>-->
<!--</body>-->
<!--</html>-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->

<!--<h2>JavaScript Alert</h2>-->

<!--<button (click)="myFunction()">Try it</button>-->

<!--<script>-->
<!--  function myFunction() {-->
<!--    alert("I am an alert box!");-->
<!--  }-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
