<div class="example">
  <button (click)="print()"></button>
</div>

<div class="chartCard">
<div class="chartBox">

  <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>

</div>
</div>
<script type="text/javascript" src="lib.js"></script>
<script>function printDiv(printableArea) {
  var printContents = document.getElementById(divName).innerHTML;
  var originalContents = document.body.innerHTML;

  document.body.innerHTML = printContents;

  window.print();

  document.body.innerHTML = originalContents;
}
</script>
<script>
window.onload = function() {
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    context.fillStyle = "green";
    context.fillRect(50, 50, 100, 100);
    // no argument defaults to image/png; image/jpeg, etc also work on some
    // implementations -- image/png is the only one that must be supported per spec.
    window.location = canvas.toDataURL("image/png");
  }

</script>
